<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1057" key="5d4a4bde-f97b-4277-874e-ef1e330701e5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-10T14:09:56" updateDate="2019-01-10T14:10:13" nodeName="MyStore" urlName="mystore" path="-1,1057" isDoc="" nodeType="1052" creatorName="Nikola Sterziková" writerName="Nikola Sterziková" writerID="0" template="1051" nodeTypeAlias="home" isPublished="true">
    <content><![CDATA[<p>Welcome to new store</p>]]></content>
    <category id="1058" key="2e18714d-2721-4450-91f0-b5ea40c6ca1d" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2019-01-10T14:11:29" updateDate="2019-01-10T14:11:33" nodeName="Catalog" urlName="catalog" path="-1,1057,1058" isDoc="" nodeType="1054" creatorName="Nikola Sterziková" writerName="Nikola Sterziková" writerID="0" template="1053" nodeTypeAlias="category" isPublished="true">
      <product id="1059" key="f7a69b8a-4afa-413d-bbc4-06a38e0f04d3" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2019-01-10T14:12:00" updateDate="2019-01-10T14:12:00" nodeName="Product" urlName="product" path="-1,1057,1058,1059" isDoc="" nodeType="1056" creatorName="Nikola Sterziková" writerName="Nikola Sterziková" writerID="0" template="1055" nodeTypeAlias="product" isPublished="true" />
    </category>
  </home>
</root>